@charset "utf-8";
/* CSS Document */

li p {
	
	white-space: normal !important; 
	text-overflow:clip !important;
	
}

	
img{
	
	display: block !important;
	width: 2em !important;
	float:left;
	clear: both;
		

}
spam {
	
	position: relative !important;
	top: 0.5em !important;
	left: 0.5em !important;
	
}

.fot{
	
	padding-left: 11% !important;
	padding-right: 11% !important;
	
}








	
