@charset "utf-8";
/* CSS Document */

li p {
	
	white-space: normal !important; 
	text-overflow:clip !important;
	
}

	
img{
	
	display: block !important;
	width: 2em !important;
	float:left;
	clear: both;
		

}
spam {
	
	position: relative !important;
	top: 0.5em !important;
	left: 0.5em !important;
	
}

.fot{
	
	margin: auto !important;
	text-align: center !important;
	
}

h4 {
	
	padding: 19px !important;
	margin: auto !important;
}

b {
	
	font-weight: 700 !important;
}

#cerrar {
	
	margin-top: 5px !important;
	width: 5px !important;
	height: 5px !important;
	
}








	
